table, td{
		border: none;	
		border-collapse: collapse;
		padding: 5px;
	}
	
	.myCalculator{
			height:400px;
			width:400x;
			background: transparent;
			box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
			border: 1px solid #717377;
	 		}
	
	body{
			width: 99%;
			height: 95vh;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 15px;
			background: linear-gradient(45deg, #0a0a0a, #3a4452);
		  }
	input{
			padding: 15px;
			outline: none;
			border: 1px solid grey;
			font-size:24px;
			border-radius:5px;
			width:100%;
			text-align: right;
            cursor: pointer;
			background: transparent;
			box-shadow: 0px 3px 15px rgbs(84, 84, 84, 0.1);
			color: #ffffff;
		}
	button{
			border: none;
			width: 60px;
			height: 60px;
			margin: 10px;
			border-radius: 50%;
			background: transparent;
			color: #ffffff;
			font-size: 20px;
			box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
			cursor: pointer;
		}
	input::placeholder{
			color: #ffffff;
		}
	.display-box{
		width: 100%;
		height: 50px;
		padding: 0px;
		margin: 0px;
		background-color: grey;
	}
	h2{
			font-family:Colonna MT;
			font-size:400%;
			color:whitesmoke;
			}
	#btn {
			background-color: #fb0066;
     }
	#eqbtn{
			background-color: #fb7c14;
		}
	#sim{
			background-color:green;
			}
	#num{
			background-color:black;
			}